* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: red;
}


li {
    list-style: none;
}

.line_through {
    text-decoration: line-through;
}

.bold{
    font-weight: bold;
}